@media (max-width:250.98px) {
  #collapsibleNavbar {
    margin-right: 0%;
}
    .icons {
    position: relative;
    right: 0%;
}
    .nav-item a {
    width: auto;
}
}
@media (min-width: 250px) and (max-width: 575.98px) { 
     #collapsibleNavbar {
    margin-right: 0%;
}
    .icons {
    position: relative;
    right: 0%;
        text-align: center;
}
    .nav-item a {
    width: auto;
}
    li ul{
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid aliceblue;
    border-top: 0px;
        display:none ;
}
ul::after {
    clear: both;
}
li ul ul{
   position: relative;
right: 0%;
    display:none ;
}
   }

@media (min-width: 576px) and (max-width:767.98px ) {
  #collapsibleNavbar {
    margin-right: 0%;
}
    .icons {
    position: relative;
    right: 0%;
        text-align: center;
}
    .nav-item a {
    width: auto;
}
    li ul{
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid aliceblue;
    border-top: 0px;
        display:none ;
}
ul::after {
    clear: both;
}
li ul ul{
   position: relative;
right: 0%;
    display:none ;
}
}
@media (min-width: 767.98px) and (max-width: 992px) { 
#collapsibleNavbar {
    margin-right: 5%;
}
    .nav-item a {
    width: 94px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
    .icons .ico {
    margin: 5px;
        margin-top: 5px;
    margin-top: 11px;
    margin-top: 5px;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
    .icons {
    position: fixed;
    right: 82%;
}
}

@media (min-width: 992px) and (max-width: 1099.98px) { 

 
}

@media (min-width: 1200px)
{ 
}