@media (max-width:250.98px) {
    .small{display: none;}
    #moon{display: inline-block;}
    .ico {
    margin: 6px;
    color: #f37722;
    font-weight: bolder;
    font-size: 20px;
}
    .points{width: 90%;}
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 71%;
    background-color: white;
    padding: 4px;
    top: 32px;
    z-index: 2;
}
    .navbar-brand img {
    width: 170px;
}
    .carousel-caption h3 {
    color: #e55d03;
    font-weight: ;
    font-size: 44px;
}
    .navbar {
    direction: rtl;
    background-color: #fffdfd0d;
    margin-top: 42px;
    height: 55px;
    padding-top: 2px;
    padding-bottom: 14px;
}
 #collapsibleNavbar {
    margin-right: 0%;
    background-color: #ffffff;
}
    .icons {
    position: relative;
    right: 0%;
}
    .nav-item a {
    width: auto;
}
    .points h1 {
    z-index: ;
    position: relative;
    z-index: 1;
    color: white;
    margin-left: 20%;
    bottom: -154%;
}
}
@media (min-width: 250px) and (max-width: 575.98px) { 
        .small{display: none;}
    #moon{display: inline-block;}
    .ico {
    margin: 6px;
    color: #f37722;
    font-weight: bolder;
    font-size: 20px;
}
        .points{width: 90%;}

    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 74%;
    background-color: white;
    padding: 4px;
    top: 32px;
    z-index: 2;
}
.navbar-brand img {
    width: 170px;
}
    .carousel-caption h3 {
    color: #e55d03;
    font-weight: ;
    font-size: 44px;
}
    .navbar {
    margin-top: 42px;
    padding-top: 2px;
}
   #collapsibleNavbar {
    margin-right: 0%;
    background-color: #ffffff;
}
    .icons {
    position: relative;
    right: 0%;
        text-align: center;
}
    .nav-item a {
    width: auto;
}
    li ul{
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid aliceblue;
    border-top: 0px;
        display:none ;
}
ul::after {
    clear: both;
}
li ul ul{
   position: relative;
right: 0%;
    display:none ;
}
    .points h1 {
    z-index: ;
    position: relative;
    z-index: 1;
    color: white;
    margin-left: 20%;
    bottom: -154%;
}
   }

@media (min-width: 576px) and (max-width:767.98px ) {
  #collapsibleNavbar {
    margin-right: 0%;
}
    .icons {
    position: relative;
    right: 0%;
        text-align: center;
}
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 74%;
    background-color: white;
    padding: 4px;
    top: 32px;
    z-index: 2;
}
    .nav-item a {
    width: auto;
}
    li ul{
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid aliceblue;
    border-top: 0px;
        display:none ;
}
ul::after {
    clear: both;
}
li ul ul{
   position: relative;
right: 0%;
    display:none ;
}
}
@media (min-width: 767.98px) and (max-width: 992px) { 
#collapsibleNavbar {
    margin-right: 5%;
}
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 17%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
    .nav-item a {
    width: 85px;
    color: ;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
    .icons .ico {
    margin: 5px;
        margin-top: 5px;
    margin-top: 11px;
    margin-top: 5px;
    color: ;
    font-weight: bolder;
    font-size: 18px;
}
   .icons {
    position: fixed;
    right: 80%;
}
}

@media (min-width: 992px) and (max-width: 1099.98px) { 

   .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 15%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
}

@media (min-width: 1200px)
{ 
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 15%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
}