@media (max-width:250.98px) {
    .cch-h1{font-size: 27px;}
    .small{display: none;}
    #moon{display: inline-block;}
    .ico {
    margin: 6px;
    color: #f37722;
    font-weight: bolder;
    font-size: 20px;
}
    .points{width: 90%;}
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 71%;
    background-color: white;
    padding: 4px;
    top: 32px;
    z-index: 2;
}
  .navbar-brand img {
    width: 131px;
    padding-top: 9px;
}
    .carousel-caption h3 {
    color: #e55d03;
    font-weight: ;
    font-size: 44px;
}
    .navbar {
    direction: rtl;
    background-color: #fffdfd0d;
    margin-top: 42px;
    height: 55px;
    padding-top: 2px;
    padding-bottom: 14px;
}
 #collapsibleNavbar {
    margin-right: 0%;
    background-color: #ffffff;
}
    .icons {
    position: relative;
    right: 0%;
}
    .nav-item a {
    width: auto;
}
    .points h1 {
    z-index: ;
    position: relative;
    z-index: 1;
    color: white;
    margin-left: 20%;
    bottom: -154%;
}
    .log-gog {
    background-color: transparent;
    width: 100%;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 2%;
    margin-bottom: 5px;
    float: none;
}
    .login {
    background-color: transparent;
    border-color: #F27523;
    color: #F27523;
    width: 100%;
    float: none;
}
    .log-img {
    width: 100%;
}
}
@media (min-width: 250px) and (max-width: 575.98px) { 
        .cch-h1{font-size: 27px;}

        .small{display: none;}
    #moon{display: inline-block;}
    .ico {
    margin: 6px;
    color: #f37722;
    font-weight: bolder;
    font-size: 20px;
}
        .points{width: 90%;}

    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 74%;
    background-color: white;
    padding: 4px;
    top: 32px;
    z-index: 2;
}
.navbar-brand img {
    width: 168px;
}
    .carousel-caption h3 {
    color: #e55d03;
    font-weight: ;
    font-size: 44px;
}
    .navbar {
    margin-top: 42px;
    padding-top: 2px;
}
   #collapsibleNavbar {
    margin-right: 0%;
    background-color: #ffffff;
}
    .icons {
    position: relative;
    right: 0%;
        text-align: center;
}
    .nav-item a {
    width: auto;
}
    li ul{
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid aliceblue;
    border-top: 0px;
        display:none ;
}
ul::after {
    clear: both;
}
li ul ul{
   position: relative;
right: 0%;
    display:none ;
}
    .points h1 {
    z-index: ;
    position: relative;
    z-index: 1;
    color: white;
    margin-left: 20%;
    bottom: -154%;
}
    .cont-h1 {
    text-align: center;
    color: #221446;
    font-size: 28px;
    padding-top: 13px;
}
   .log-gog {
    background-color: transparent;
    width: 100%;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 2%;
    margin-bottom: 5px;
    float: none;
}
    .login {
    background-color: transparent;
    border-color: #F27523;
    color: #F27523;
    width: 100%;
    float: none;
}
    .log-img {
    width: 100%;
}
   }
@media (min-width: 576px) and (max-width:767.98px ) {
  #collapsibleNavbar {
    margin-right: 0%;
}
        .cch-h1{font-size: 30px;}

    .icons {
    position: relative;
    right: 0%;
        text-align: center;
}
    .navbar-brand img {
    width: 225px;
    margin-top: -9px;
}
            .small{display: none;}
    #moon{display: inline-block;}

    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 74%;
    background-color: white;
    padding: 4px;
    top: 32px;
    z-index: 2;
}
    .nav-item a {
    width: auto;
}
    li ul{
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid aliceblue;
    border-top: 0px;
        display:none ;
}
ul::after {
    clear: both;
}
li ul ul{
   position: relative;
right: 0%;
    display:none ;
}
  .ahood {
    width: 100vh;
    margin-left: -90px;
}
    .cont-h1 {
    text-align: center;
    color: #221446;
    font-size: 27px;
}
    .log-gog {
    background-color: transparent;
    width: 100%;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 2%;
    margin-bottom: 5px;
    float: none;
}
    .login {
    background-color: transparent;
    border-color: #F27523;
    color: #F27523;
    width: 100%;
    float: none;
}
        .sign-gog {
    background-color: transparent;
    width: 100%;
    float: right;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 2px;
    margin-bottom: 5px;
}
    .log-img {
    width: 100%;
}
}
@media (min-width: 767.98px) and (max-width: 992px) { 
#collapsibleNavbar {
    margin-right: 5%;
}
        .cch-h1{font-size: 30px;}

    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 17%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
    .nav-item a {
    width: 85px;
    color: ;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
    .icons .ico {
    margin: 5px;
        margin-top: 5px;
    margin-top: 11px;
    margin-top: 5px;
    color: ;
    font-weight: bolder;
    font-size: 18px;
}
   .icons {
    position: fixed;
    right: 80%;
}
 .ahood {
    width: 76vh;
    margin-left: -106px;
}
    .ahood1 {
    width: 88%;
    position: relative;
    left: -10%;
}
    .cont-h1 {
    text-align: right;
    color: #221446;
    font-size: 27px;
}
    .log-gog {
    background-color: transparent;
    width: 100%;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 2%;
    margin-bottom: 5px;
    float: none;
        font-size: 14px;
}
    .login {        font-size: 14px;
    background-color: transparent;
    border-color: #F27523;
    color: #F27523;
    width: 100%;
    float: none;
}
    .sign-gog {
    background-color: transparent;
    width: 100%;
    float: right;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 2px;
    margin-bottom: 5px;
}
    .log-img {
    width: 100%;
}
}
@media (min-width: 992px) and (max-width: 1099.98px) { 
.cch-h1 {
    color: #fa5c5c;
    font-size: 28px;
}
   .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 15%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
    .ahood {
    width: 79vh;
    margin-left: -60px;
}
    .ahood1 {
    width: 63%;
    position: relative;
    left: 13%;
}
    .cont-h1 {
    text-align: right;
    color: #221446;
    font-size: 29px;
}
     .log-gog {
    background-color: transparent;
    width: 100%;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 2%;
    margin-bottom: 5px;
    float: none;
        font-size: 14px;
}
    .login {        font-size: 14px;
    background-color: transparent;
    border-color: #F27523;
    color: #F27523;
    width: 100%;
    float: none;
}
   .sign-gog {
    background-color: transparent;
    width: 100%;
    float: right;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 14px;
}
    .log-img {
    width: 100%;
}
}

@media (min-width: 1099.98px)and (max-width: 1200px)
{ 
    .cch-h1 {
    color: #fa5c5c;
    font-size: 28px;
}
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 15%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
      .ahood {
    width: 79vh;
    margin-left: -60px;
}
    .ahood1 {
    width: 70%;
    position: relative;
    left: 0%;
}
    .cont-h1 {
    text-align: right;
    color: #221446;
    font-size: 29px;
}
   .log-gog {
    background-color: transparent;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: -6%;
    margin-bottom: 5px;
    float: right;
    font-size: 14px;
}
    .login {        font-size: 14px;
    background-color: transparent;
    border-color: #F27523;
    color: #F27523;
    float: left;
}
    .log-img {
    width: 100%;
}
    .sign-gog {
    background-color: transparent;
    width: 48%;
    float: right;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 14px;
}
}
@media (min-width: 1201)and (max-width: 1350px)
{ .cch-h1 {
    color: #fa5c5c;
    font-size: 28px;
}
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 15%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
     .log-gog {
    background-color: transparent;
    border: 1px solid #4c3c78;
    color: #4c3c78;
    margin-top: -6%;
    margin-bottom: 5px;
    float: right;
    font-size: 14px;
}
    .login {        font-size: 14px;
    background-color: transparent;
    border-color: #F27523;
    color: #F27523;
    float: none;
}
    .log-img {
    width: 100%;
}
}
@media (min-width: 1351px)and (max-width: 1550px)
{ 
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 15%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
}
@media (min-width: 1550px)and (max-width: 1750px)
{ 
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 15%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
}
@media (min-width: 1750px)and (max-width: 2000px)
{ 
    .submin {
    display: none;
    position: fixed;
    list-style: none;
    left: 15%;
    background-color: white;
    padding: 4px;
    top: 25px;
    z-index: 2;
}
}