/* ggggggggggggggggggggggggggggggggg */












/* ggggggggggggggggggggggggggggggggg */
.pd-wrap {
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}
.heading-section {
	text-align: center;
	margin-bottom: 30px;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 30px;
	font-family: 'Poppins', sans-serif;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}

.product-thumb .item img {
	height: 100px;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #a01c8e;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 60px;
	text-align: center;
}


/*  */

.sh_img img{
	padding: 0;
	
}

.sh_col{
	padding: 40px;
}

.sh_col .col-md6{
	padding: 40px;
}

.sh_col h4{
	margin: 20px 0;
}



input:focus{
	outline: none;
}

.small-img-row{
	display: flex;
    justify-content: space-between;
    float: right;
}

.small-img-col{
	flex-basis: 100%;
	cursor: pointer;

}

h1,h4,h3,.det{
text-align: right;
}

label{
	float: right;
}

.handle-counter{
	float: right;
}

.small-img:active {
	border: 1px #ffc700 solid;
	
	opacity: 50%;
}



.sh_img .small-img-row .small-img-col img{
	
    height: 100px;
    width: 100px;

}

h1,h4,h3{
text-align: right;
}


.sh_img img{
height: 400px;
}
.small-img-row{
	display: flex;
    justify-content: space-between;
    float: right;
}

.small-img-col{
	flex-basis: 24%;
	cursor: pointer;

}

h1,h4,h3,.det{
text-align: right;
}

label{
	float: right;
}

.handle-counter{
	float: right;
}

.small-img:active {
	border: 1px #ffc700 solid;
	
	opacity: 50%;
}



.sh_img .small-img-row .small-img-col img{
	
    height: 100px;
    width: 100px;

}

h1,h4,h3{
text-align: right;
}


.sh_img img{
height: 400px;
}

.sh_img .thump-btn {
    border:none;
}

.sh_img .thump-btn:active{
    border: 1px #ffc700 solid;
	
	opacity: 50%;
}