@font-face{
  src: url('../font/f/Tajawal-Medium.ttf');
font-family: Tajawal;
}
*{font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{color:#221446;}
.dcart{display: none;color: black;}
.counter{color: black;font-size: 14px;font-style: normal;font-weight:lighter;}

     /*************header*********************/
.navbar {
    direction: rtl;
    background-color: #ffffff;
    border-bottom: 2px solid #221446;
}   

.navbar-brand{
    font-size: 28px;
    color: #221446;
    font-style: normal;
    font-weight: bold;
}

#collapsibleNavbar{margin-right: 11%;}
.nav-item a{
    width: 115px;
    color: #221446;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.nav-item a:hover{
    color: #ff6500;
    font-size: 17px;
}
li ul{
    list-style: none;
    position: fixed;
    background: white;
    border: 1px solid aliceblue;
    border-top: 0px;
        display:none ;
}
ul::after {
    clear: both;
}
li ul ul{
   position: absolute;
right: 90%;
    display:none ;
}

li:hover ul{
    display: block;
}
li:hover ul ul{
    display: none;
}
li ul li:hover ul{
    display:block;
}

.icons {
    position: fixed;
    right:82%;
}
.icons .ico{
        margin: 11px;
        margin-top: 11px;
    margin-top: 5px;
    color: #221446;
    font-weight: bolder;
    font-size: 22px;
}
.icons .ico:hover{
    color: #ff6500;;
    font-size: 23px;
}
#home{color: #ff6500;}
/*******************************slider****************************/
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #eeeeee;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-caption {
  
    color:#221446;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
    background: transparent;
}
.owl-theme .owl-nav .owl-prev {
    color: #ff6500;
    margin: 5px;
    background: transparent;
    display: inline-block;
}.owl-theme .owl-nav .owl-next {
    color: #ff6500;
    margin: 5px;
    background: transparent;
    display: inline-block;
}
/*******************************footer*****************************/
footer {
    direction: rtl;
    background-color: #221446;
    color: white;
    padding-top: 2%;
}
footer ul {
    margin-top: 5%;
    list-style: none;
}
footer ul li {
    margin: 3%;
}
.foo {
    border-top: 1px solid #606060;
}

/****************************************product card************************/

 .product_btn {
    color: #ff6500;
    border-radius: 50%;
    background-color: #ff650008;
    font-size: 17px;
    border: 1px solid #ff6500;
    box-shadow: 9px -1px 9px -2px #eee;
}
 .product_btn:hover {
    color: #fff;
    border-radius: 50%;
    background-color: #ff6500;
transition: all ease 1s;}

/*****************svg******************/
.points{
    top: 15%;
position: relative;
width: 100%;
height: 20vh;
background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    display: none;
}
#mesvg {
    width: 100%;
    position: absolute;
    bottom: 0%;
}
#mesvg path{
fill:#ff6500;
}

.points h1{
    z-index: ;
    position: relative;
    z-index: 1;
    color: white;
    margin-left: 20%;
}

.points2 {
    margin-top: -2px;
  top: 0%;
position: relative;
width: 100%;
background-color: ;
}

/*****************offers******************/
.gift {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 2%;
    border: 2px solid #ff133f;
    padding: 2%;
    border-radius: 50%;
}
.gift2 {
    width: 55px;
    height: 55px;
    position: absolute;
    margin: 2%;
    border: 2px solid #ff133f;
    padding: 3%;
    border-radius: 50%;
}

.off {
    color: #dc3545 !important;
    font-size: 33px;
    position: absolute;
    right: 40%;
    bottom: 23%;
}


.product_det{direction: rtl;}
.contact_btn {
    background-color: white;
    border: 2px solid #fd51a6;
    border-radius: 5%;
    float: left;
    width: ;
    color: #fd51a6;
}
/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh login*/

.col-login{
    background-color: #606060;
    border: 3px solid red;
}

/*////////////////////////////////////cart faiver////////////////////////////*/

.jumbotron {
    background-color: floralwhite;
}

.jumbotron h1 {
    color: #F27523;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.a-text {
    text-decoration: none;
    color: darkslategrey;
}

.a-text:hover {
    text-decoration: none;
    color: #F27523;
    transition: all ease 1s;
}

.quantity {
    width: 50px;
    font-size: 20px;
    margin: 0 10px;
    border: none;
    outline: none;

}

.quantity:hover {

    border: #F27523;
    outline: #F27523;


}

.counter-minus,
.counter-plus {
    background-color: #fff;
    border-color: #F27523;
    color: #F27523;
}

.counter-minus:hover,
.counter-plus:hover {
    background-color: #F27523;
    color: #fff;
    transition: all ease 1s;
}

.w-100 {
    width: 100% !important;
}

.check_btn {
    color: #F27523;
    border-radius: 5%;
    background-color: #F2752308;
    font-size: 17px;
    border: 1px solid#F27523;
    box-shadow: 9px -1px 9px -2px #eee;
    float: right;
}

.check_btn:hover {
    color: #fff;
    border-radius: 5%;
    background-color: #F27523;
    transition: all ease 1s;
}
/*///////////////////////////////////////*/
.icon-cont {color:F27523; font-size:100px}


h4{
    text-align: right;
}

h6{
    text-align: right;
}

.bill-sale{
    border: 2px solid #372f90;
}
.ball-sale table{    color: #372f90;
}
.bill-sale img {
    width: 90px;
    float: right;
    padding-top: 9px;
    padding-right: 9px;
}
.bill-sale h1{
    float: right;
    padding-top: 20px;
    padding-right: 27px;
}
.s1,.s4{    border-bottom: 2px solid #362f90;
}
.s2,.s3{    border-bottom: 1px solid #362f90;
}